.button{
  background: $purple;
  color: white;
  border: none;
  border: .3rem solid darken($purple, 20%);
  font-weight: 500;
  font-size: $large;
  padding:$medium;
    margin-bottom: $medium;
}




@media (min-width: $desktop-bp){

  .button{
    background: $purple;
    color: white;
    border: none;
    border: .3rem solid darken($purple, 20%);
    font-weight: 500;
    font-size: $large;

      padding:$medium;
  }


}
