
.myZones{
  font-size: $large;
  color: white;
  text-align: left;
}

.myZones-bold{
  font-size: $large;
  color: black;
  text-align: left;
  font-weight: bold;

}
.myZones-bigger{
  font-size: 2.22rem;
  color: black;
  text-align: center;
  text-decoration: underline;

}

.displayContainer{
  // border: 1px solid white;
  color: white;
  font-size: $large;
  text-align: center;


  padding-left: $large;
  padding-right: $large;
  padding-bottom: $large;

}


@media(min-width: $desktop-bp){

  .myZones{
    font-size: $xl;
    color: white;
    text-align: left;
  }
  .myZones-bold{
    font-size: $xl;
    color: black;
    text-align: left;
    font-weight: bold;

  }
  .myZones-bigger{
    font-size: $xl;
      color: black;
    text-align: center;
    text-decoration: underline;

  }
  .displayContainer{
    // border: 1px solid yellow;
    color: black;
    font-size: $xl;
    text-align: center;

      padding-left: $s;
      padding-right: $s;
      padding-bottom: $s;


  }
}
