
.myZones{
  font-size: $medium;
  color: $grey;
  text-align: left;
}
.myZones-bigger{
  font-size: 2.22rem;
  color: white;
  text-align: center;
  text-decoration: underline;

}

.displayContainer{
  background: #c6299f;
  color: white;
  font-size: $medium;
  text-align: center;


}
