.footer{
  font-size: $large;
  color: white;
  text-align: left;
}

.footer a{
  color:white;
  text-decoration: none;
    font-size: $large;
}


@media (min-width: $desktop-bp){

  .footer{
    font-size: $large;
    color: white;
    text-align: left;
  }

  .footer a{
    color:white;
    text-decoration: none;
    font-size: $large;
  }


}
