.header{
  border-top: 1px solid darken($purple, 30%);
  border-bottom: 1px solid darken($purple, 30%);
  background: $purple;
  color: white;
  text-align: center;
  margin-bottom: $medium;
  padding: 2.4rem;
  font-size: $large;

}


@media(min-width: $desktop-bp){
  .header{
    margin-bottom: $xl;
    font-size: $large;

  }

}
