.header{
  border-top: 1px solid darken($purple, 30%);
  border-bottom: 1px solid darken($purple, 30%);
  background: white;
  color: $purple;
  text-align: center;

  margin-bottom: $xl;
  padding-top: $large;
  padding-bottom: $large;
  font-size: $large;

}


@media(min-width: $desktop-bp){
  .header{

    margin-bottom: $xl;
    padding-top: $large;
    padding-bottom: $large;
    font-size: $large;


  }

}
